body {background-color:#F2F3F4;}
h1 {background-color:black;font-family:montserrat;
  font-weight:bold; color:#2980B9;
  font-size:80px}

h2 {font-family:montserrat;
  font-weight:bold;
  color:#2980B9;
  font-size:40px}
h3 {font-family:montserrat;
  font-weight:bold;
  color:#2980B9;
  font-size:20px}

section {padding-top: 20px;column-count:3; column-gap: 20px;}

.parrafo1 {font-family:montserrat;
  font-weight:regular;
  color:black;
  font-size:14px;}

.parrafo2 {font-family:montserrat;
    font-weight:regular;
    color:#2980B9;
    font-size:14px;}

.parrafo3 {font-family:montserrat;font-weight:regular;
    color:black;
    font-size:14px;}
.enlace {font-family:montserrat;font-weight:regular;
    color:black;
    font-size:20px;}

.ingredientes {font-family:montserrat;
  font-weight:bold;
  color:black;
  font-size:14px}

  .lista {font-family:montserrat;
    font-weight:regular;
    color:#2980B9;
    font-size:14px}

.Preparación {font-family:montserrat;
  font-weight:bold;
  color:black;
  font-size:14px}
.listapreparacion {font-family:montserrat;
  font-weight:regular;
  color:#2980B9;
  font-size:14px}

video {}
